.pagination-item {
    border-radius: 8px;
    padding:8px;
    color: whitesmoke;
    background-color: var(--bg-dark);
    min-width: 34px;
    text-align: center;
    transition: all 0.2s;
}

.pagination-item:hover {
    background-color: #000;
    cursor: pointer;
}